<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="assets/pngtree-banner-sign-up-for-social-media-red-now-png-image_3899525.jpg" class="brand_logo" alt="Logo">
					</div>
				</div>
        <div class="alert" *ngIf="alert">
          <strong>{{alert}}</strong>
        </div>
        <div class="success" *ngIf="successmsg">
          <strong>{{successmsg}}</strong>
        </div>
				<div class="d-flex justify-content-center form_container">
					<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data" method="post" id="fileinfo">
						<div class="input-group mb-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" formControlName="firstname" id="firstname" class="form-control" placeholder="Enter your firtsname"  [ngClass]="{ 'is-invalid': submitted && formData['firstname'].errors }">
              <div *ngIf="submitted && formData['firstname'].errors" class="invalid-feedback">
                <div *ngIf="formData['firstname'].errors['required']">firtsname is required</div>
                  </div>
						</div>

            <div class="input-group mb-4 ">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text"  formControlName="lastname" id="lastname" class="form-control" value="" placeholder="Enter your lastname"   [ngClass]="{ 'is-invalid': submitted && formData['lastname'].errors }">
              <div *ngIf="submitted && formData['lastname'].errors" class="invalid-feedback">
                <div *ngIf="formData['lastname'].errors['required']">lastname is required</div>
                  </div>
						</div>

						<div class="input-group mb-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-envelope"></i></span>
							</div>
							<input type="email"  formControlName="email" id="email" class="form-control" value="" placeholder="Enter your email"   [ngClass]="{ 'is-invalid': submitted && formData['email'].errors }">
              <div *ngIf="submitted && formData['email'].errors" class="invalid-feedback">
                <div *ngIf="formData['email'].errors['required']">email is required</div>
                  </div>
						</div>


            <div class="input-group mb-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password"  formControlName="encryptpassword" id="encryptpassword" class="form-control" value="" placeholder="Enter your password"   [ngClass]="{ 'is-invalid': submitted && formData['encryptpassword'].errors }">
              <div *ngIf="submitted && formData['encryptpassword'].errors" class="invalid-feedback">
                <div *ngIf="formData['encryptpassword'].errors['required']">password is required</div>
                  </div>
						</div>

            <div class="input-group mb-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas  fa-phone"></i></span>
							</div>
							<input type="number"  formControlName="mobile_no" id="mobile_no" class="form-control" value="" placeholder="Enter your mobile_no"   [ngClass]="{ 'is-invalid': submitted && formData['mobile_no'].errors }">
              <div *ngIf="submitted && formData['mobile_no'].errors" class="invalid-feedback">
                <div *ngIf="formData['mobile_no'].errors['required']">mobile number is required</div>
                  </div>
						</div>

            <div class="input-group mb-4">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-calendar-check"></i></span>
							</div>
							<input type="dob"  formControlName="dob" id="dob" class="form-control" value="" placeholder="Enter your dob"   [ngClass]="{ 'is-invalid': submitted && formData['dob'].errors }">
              <div *ngIf="submitted && formData['dob'].errors" class="invalid-feedback">
                <div *ngIf="formData['dob'].errors['required']">date of birth is required</div>
                  </div>
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button name="button" class="btn login_btn" type="submit">Sign Up</button>
				   </div>
					</form>
				</div>




				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						 have an account? <a href="#" class="ml-2">Sign In</a>
					</div>
					<div class="d-flex justify-content-center links">
						<a href="#">Forgot your password?</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

